<div class="modal" tabindex="-1" id="registro-pago">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registrar pago de reserva</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarConsultor()" aria-label="Close"></button>
        </div>
        <form>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label" for="num_reserva"># reserva:</label>
              <input type="number" class="form-control" id="num_reserva" name="num_reserva" placeholder="Ingrese el número de reserva">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="registrarPago()">Actualizar estado</button>  
          </div>
        </form>
      </div>
    </div>
  </div>
  