<div class="jumbotron">
  <h1 class="display-4">Mi Cacharrito</h1>
  <p class="lead">Descripción: Mi Cacharrito Viajes es una empresa que ofrece servicios de transporte terrestre
     cómodos y seguros, especializados en viajes de una ciudad a otra. Nuestros autobuses están diseñados para
      brindar una experiencia de viaje placentera, con comodidades modernas y un equipo profesional que se 
      esfuerza por garantizar la satisfacción de nuestros pasajeros.
    Nos comprometemos a proporcionar un servicio confiable y puntual, conectando diferentes ciudades y 
    facilitando el desplazamiento de nuestros clientes de manera eficiente. Ya sea que estén viajando por
     negocios o por placer, nuestros pasajeros pueden confiar en nosotros para ofrecer un viaje 
     seguro y cómodo, con tarifas competitivas y horarios convenientes.
    En Mi Cacharrito Viajes, nos enorgullece ofrecer una experiencia de viaje
     excepcional, brindando comodidad, conveniencia y tranquilidad a nuestros pasajeros en cada viaje.</p>
  <hr class="my-4">
  <img src="https://as1.ftcdn.net/v2/jpg/07/16/67/52/1000_F_716675212_sUNBtWv4tcIx4TSvN6E2mXZzus4SxvYr.jpg" alt="foto de demostracion">
</div>
