<div class="jumbotron">
    <h1 class="display-4">Mi Cacharrito</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, voluptas odit. Rerum nostrum eius, facilis incidunt nisi aliquam facere illo ea. Incidunt magni aut accusantium necessitatibus doloribus architecto asperiores, totam fugiat tempore, quia quaerat ducimus! Dolorum aspernatur dicta veritatis, at architecto amet repudiandae velit cumque animi eligendi perferendis rem placeat.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>