/* Estilos generales para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}

/* Estilos para el contenido del modal */
.modal-dialog {
  margin: 50px auto;
  width: 90%; /* Ajustar el ancho al 90% */
  max-width: 800px; /* Ajustar el ancho máximo */
  background-color: #333; /* Gris oscuro */
  border-radius: 10px;
}

/* Estilos para el encabezado del modal */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #212529; /* Gris oscuro */
  color: #fff; /* Blanco */
}

/* Estilos para el título del modal */
.modal-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff; /* Blanco */
}

/* Estilos para el botón de cerrar */
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  color: #fff; /* Blanco */
}

/* Estilos para el cuerpo del modal */
.modal-body {
  padding: 20px;
}

/* Estilos para las etiquetas de los campos */
.form-label {
  font-weight: bold;
  color: #fff; /* Blanco */
}

/* Estilos para los campos de entrada */
.form-control {
  margin-bottom: 15px;
  background-color: #555; /* Gris oscuro */
  color: #fff; /* Blanco */
  border: none;
}

/* Estilos para el botón de "Consultar Reserva" */
.modal-footer .btn-primary {
  width: 100%;
  font-weight: bold;
}

/* Estilos para el pie del modal */
.modal-footer {
  padding: 20px;
  justify-content: center;
}

/* Estilos para la tabla dentro del modal */
.table {
  background-color: #212529; /* Gris oscuro */
  color: #fff; /* Blanco */
}

/* Estilos para los encabezados de la tabla dentro del modal */
.table thead th {
  background-color: #343a40; /* Gris más oscuro */
  color: #fff; /* Blanco */
}

/* Estilos para los botones dentro del modal */
.modal-body button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff; /* Azul */
  color: #fff; /* Blanco */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.modal-body button:hover {
  background-color: #0056b3; /* Azul más oscuro */
}

/* Estilos para hacer que la tabla sea responsive */
.table-responsive {
  overflow-x: auto;
}
