/* Estilos para la tabla responsive */
.table-responsive {
  overflow-x: auto;
}

/* Estilo para ajustar el tamaño del modal al contenido de la tabla */
.modal-dialog {
  max-width: 90%; /* Modifica el ancho máximo según tus necesidades */
}

/* Estilo para mejorar la apariencia de los encabezados de la tabla */
.table thead th {
  white-space: nowrap; /* Evita el ajuste de texto en el encabezado */
  overflow: hidden; /* Oculta el contenido que se desborda del encabezado */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) cuando el contenido se desborda */
}

/* Estilos personalizados para el formulario dentro del modal */
.modal-body form {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
}

/* Estilos para los elementos del formulario */
.modal-body form .form-label {
  flex: 0 0 auto; /* Establece el tamaño fijo para las etiquetas */
  margin-right: 10px; /* Agrega un margen derecho */
}

.modal-body form .form-control {
  flex: 1; /* El input ocupa todo el espacio restante */
}

/* Estilos para los botones dentro del formulario */
.modal-body form .btn-group {
  margin-left: auto; /* Los botones se colocan al final del contenedor */
  
}
.btn {
  font-weight: bold; /* Hacer que el texto del botón esté en negrita */
}
/* Estilos para el título del modal */
.modal-title {
  color: #004d99; /* Color del texto */
  font-family: "Helvetica Now", sans-serif; /* Tipo de letra */
  text-shadow: 1px 1px 3px #004d99; /* Sombra de texto */
}
/* Estilos para etiquetas en negrita */
.form-label {
  font-weight: bold; /* Aplicar negrita */
}
.modal-body table thead th {
  background-color: #E0E0E0 ; /* Color de fondo para los encabezados de la tabla */
}
.modal-content {
  background-color: #C5E1A5; /* Color de fondo del modal */
}