/* Estilos generales para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: #333; /* Color de fondo del modal */
  color: #fff; /* Color del texto */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para el encabezado del modal */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #212529; /* Gris oscuro */
  color: #fff; /* Blanco */
}

/* Estilos para el título del modal */
.modal-title {
  font-family: "Helvetica Now", sans-serif; /* Tipo de letra */
  color: #004d99; /* Color del texto */
  text-shadow: 1px 1px 3px #004d99; /* Sombra de texto */
}

/* Estilos para el cuerpo del modal */
.modal-body {
  padding: 20px;
}

/* Estilos para la tabla responsive */
.table-responsive {
  overflow-x: auto;
}

/* Estilo para ajustar el tamaño del modal al contenido de la tabla */
.modal-dialog {
  max-width: 90%; /* Modifica el ancho máximo según tus necesidades */
}

/* Estilo para mejorar la apariencia de los encabezados de la tabla */
.table thead th {
  white-space: nowrap; /* Evita el ajuste de texto en el encabezado */
  overflow: hidden; /* Oculta el contenido que se desborda del encabezado */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) cuando el contenido se desborda */
  background-color: #343a40; /* Gris oscuro */
  color: #fff; /* Blanco */
}

/* Estilos para los botones dentro del modal */
.modal-body .btn-primary {
  font-weight: bold; /* Hacer que el texto del botón esté en negrita */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Borde */
  cursor: pointer; /* Cambiar el cursor */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Ajustar el relleno */
  margin-bottom: 10px; /* Separación entre botones */
}

/* Estilos al pasar el cursor sobre los botones */
.modal-body .btn-primary:hover {
  background-color: #0056b3; /* Cambio de color de fondo */
}

/* Estilos para el botón de cerrar */
.modal-body .btn-close {
  color: #fff; /* Blanco */
  font-weight: bold;
}

/* Estilos para el pie del modal */
.modal-footer {
  padding: 20px;
  justify-content: center;
}
