<div class="modal" tabindex="-1" id="consultor-reservas-por-dia">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Estas son las reservas del día</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarConsultor()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"># Reserva</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha Reserva</th>
                  <th scope="col">Número de asiento</th>
                  <th scope="col">Cédula</th>
                  <th scope="col"># Viaje</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>mdo</td>
                  <td>mdo</td>
                  <td>mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  